:root {
  --linkLineColor: #000039;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  font-family: "Carme", sans-serif;
}

body {
  background: #1f2624;
}

main {
  color: #19d395;
}

header {
  margin: 50px;
  color: #19d395;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.project > a {
  background: linear-gradient(
    to bottom,
    var(--linkLineColor) 0%,
    var(--linkLineColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 2px;
  color: #19d395;
  text-decoration: none;
  transition: background-size 0.2s;
}

.project > a:hover {
  background-size: 4px 50px;
}

.project > img {
  width: 100%;
}

.projects {
  display: flex;
  margin: 50px 0;
  justify-content: space-around;
}

.projects .project {
  flex: 1;
  padding: 5px;
}

.skills {
  border: 2px solid #19d395;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 50px;
}

.skills ul li {
  margin: 0 10px;
}

.skills > h3 {
  padding-top: 20px;
  text-decoration: underline;
}

footer > ul > li > a {
  text-decoration: none;
  color: #19d395;
  font-size: 20px;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

@media screen and (max-width: 740px) {
  .projects {
    flex-direction: column;
  }
  .project {
    margin: 20px 0;
  }
}
