:root {
  --linkLineColor: #2e0060;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  font-family: "Carme", sans-serif;
}

nav > ul > li {
  display: inline-block;
  margin: 0 -4px;
  padding: 5px 0;
}

nav > ul > li > a {
  padding: 5px 20px;
  text-decoration: none;
  color: #19d395;
}

nav ul li a.active {
  background: #2e0060;
}

nav {
  background: #303a37;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
}

nav.sticky {
  position: fixed;
}

body {
  background: #1f2624;
}

main {
  color: #19d395;
}

header {
  margin: 50px;
  color: #19d395;
}

h1 {
  font-size: 36px;
  font-family: "Permanent Marker", cursive;
}

h3 {
  font-size: 28px;
  font-weight: bolder;
  padding-bottom: 10px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.container {
  display: flex;
  justify-content: center;
}

#about {
  text-align: center;
  width: 500px;
  font-style: none;
}

#about > p {
  text-align: left;
}

.project > a {
  background: linear-gradient(
    to bottom,
    var(--linkLineColor) 0%,
    var(--linkLineColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 2px;
  color: #19d395;
  text-decoration: none;
  transition: background-size 0.3s;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border: 2px solid #19d395;
}

.project > a:hover {
  background-size: 4px 50px;
}

.project > img {
  width: 80%;
  max-width: 80%;
}

#about {
  padding-left: 20px;
  padding-right: 20px;
}

.project > ul {
  padding-top: 10px;
}

.project > ul > p {
  font-weight: bold;
  text-decoration: underline;
}

.project > p {
  max-width: 500px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  justify-content: space-around;
}

.projects .project {
  flex: 1;
  padding: 5px;
}

.skills {
  border: 2px solid #19d395;
  margin-bottom: 50px;
  width: 75%;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 20px;
}

.skills ul li {
  margin: 0 10px;
}

.skills > h3 {
  padding-top: 20px;
  text-decoration: underline;
}

footer > ul > li > a {
  text-decoration: none;
  color: #19d395;
  font-size: 20px;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

@media screen and (max-width: 640px) {
  .projects {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .project {
    margin: 20px;
  }
  .project > p {
    width: auto;
  }
}
